<h1>VIEW ISSUES</h1>
<p>test</p>
<% if (data?.length > 0) { %>
    <ol>
    <% data.forEach(obj => { %>
        <li class="issuetext"><%= obj.id %><%= obj.title %></li><<br>       
    <% }) %>
    </ol>
  <% } else { %>
      <p>Oh no! No snippets to display. Sign in and start creating your own!</p>
  <% } %>
  