
<header>
  <nav>   
      <div>
        <ul>
          <li>
            <a href="./">Home</a>
          </li>
          <li>
            <a href="./issues">View Issues</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>