<div class="error">
  <img src="ohno.png" class="error-image" alt="Something went wrong"><br>
<p class="error-text-pass">You Shall Not Pass!<br><p class="error-text">You don't seem to have access to this content.<br><a href="/">GO HOME</a></p>
</div>