<div class="error">
  <img src="ohno.png" class="error-image" alt="Something went wrong"><br>
<p class="error-text">We can't find the resource you are looking for. Maybe if you go back and try again?<br><a href="/">GO HOME</a></p>
</div>