<div class="dot-container">
</div>
    <div class ="startpage">
        <div class="dot">
</div>
      <p class="realtime-startpage-top-text">REALTIME</p>
      <p class="realtime-startpage-bottom-text">WEB APPLICATION<p>
      <p class="third-row-startpage">Hooked on a issue</p>
</div>