<div class="dot-container">
</div>
    <div class ="startpage">
        <div class="dot">
</div>
      <p class="snippet-startpage-top-text">SNIPPET CODE</p>
      <p class="snippet-startpage-bottom-text">GENERATOR<p>
      <p class="crud">Create Read Update Delete</p>
</div>